<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title>Baeldung Login Redirect</title>
</head>
<body>
Welcome user! <a th:href="@{/user_logout}" >Logout</a>
</body>
</html>